# Fichiers et dossiers d'environnements virtuels
NASA_env/
NASA_env/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
*.pyc
__pycache__/
*.dll
*.pyd

# Fichiers Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers et dossiers de configuration IDE
.vscode/
.idea/

# Fichiers temporaires
*.log